# CODEOWNERS
#
# Documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# Akshay Saini (AkshaySainiDell)
# Adarsh (adarsh-dell)
# Matt Schmaelzle (mjsdell)
# Prasanna Muthukumaraswamy (prablr79)
# Surya Gupta (suryagupta4)

# for all files
* @AkshaySainiDell @adarsh-dell @mjsdell @prablr79 @suryagupta4
