# CODEOWNERS
#
# Documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# Bharadwaj Sathavalli (bharadwajrs-dell)
# Boya Murthy (boyamurthy)
# Utkarsh Dubey (delldubey)
# Matt Schmaelzle (mjsdell)
# Prasanna Muthukumaraswamy (prablr79)
# Yamunadevi Shanmugam (shanmydell)
# Sushma T S (tssushma)
# Nida Taranum (nidtara)

# for all files
* @bharadwajrs-dell @boyamurthy @delldubey @mjsdell @prablr79 @shanmydell @tssushma @nidtara
